{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar navbar-default">
        <p class="navbar-brand">My Fitness Weight</p>
        <ul class="nav navbar-nav">
            <li><a href="#">Products</a></li>
            <li><a href="#">Journal</a></li>
            <li><a href="#">Food calculator</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'process_login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</header>
<h6 style="text-align: center">Welcome to My Fitness Weight!</h6>
</body>
</html>